@model CustomerProcessViewModel

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <form asp-controller="Default" asp-action="Index" method="post">
        <label>Musteri Adi Soyadi</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />

        <label>Cekilecek Miktar</label>
        <input type="text" class="form-control" asp-for="Amount" />
        <br />
        <button class="btn btn-warning">Para Cek</button>
    </form>
</div>
